@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script>
    alert("admin is : eslamturboo419@gmail.com  ,,,,,,,,,,,, password :123456  ");
    alert("Teacher is : eslamturboo419@gmail.com  ,,,,,,,,,,,, password :123456 ");
    alert("Teacher is : eslamturboo419@gmail.com  ,,,,,,,,,,,, password :123456 ");
</script>
<section class="home-slider owl-carousel owl-loaded owl-theme" id="home-slider">
    <div class="item item1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="home-content">
                        <h5 class="wow fadeInUp" data-wow-delay=".1s">
                            Education Is The Most Powerful Weapon  
                        </h5>
                        <p class="wow fadeInUp" data-wow-delay=".2s">
                            M.Kids helps children study computer programming languages
                            Our courses provide several languages of programming
                        </p>
                        <a href="#" class="button wow fadeInUp" data-wow-delay=".3s">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="item item2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="home-content">
                        <h5>
                            We Work Hard To Prepare Kids To Be Intelligent Boys
                        </h5>
                        <p>
                            We Hope That Our Courses Help Children be a Good Programmers in The Coming Future


                        </p>
                        <a href="#" class="button">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

